body { 
    margin: 0;
    font-family: sans-serif;
}

/* AUTO  ES PARA QUE EL ESPACIO DISPONIBLE EN BLANCO SE REPARTA DE MANERA EQUITATIVA*/
.grid {
    display: grid;
    height: 80vh;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

.grid-item {
    background-color: #ccc;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    color: white;
}

.grid-dos {
    display: grid;
    height: 80vh;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
}
