body {
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.card {
    background: black;
    text-align: center;
    width: 400px;
    margin: auto;
    margin-top: 50px;
    border: 3px solid white;
    border-radius: 5px;
}

h1 {
    padding-top: 20px;
}

h2 {
    font-size: 18px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    padding: 20px;
    background: white;
    color: black;
}

input{
    margin: 5px;
    padding: 6px 9px;
    border: none;
    background: transparent;
    color: greenyellow;
    border-bottom: 1px solid greenyellow;
    border-radius: 3px;
}