body { 
    margin: 0;
    font-family: 'SF Pro Display'; src: url('../Fonts/SF-Pro-Display-Regular.woff2');
    height: 100vh;
    display: flex;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

/* FUNCIONES DE FILTER */

.box-1 {
    background-color: #282584;
    margin: auto;
    padding: 20px 50px;
    transform: skew(20deg);
}

.box-2 {
    background-color: #282584;
    margin: auto;
    padding: 20px 50px;
    transform: skew(20deg);
    transform: rotate(20deg);
}

.box-3 {
    background-color: #282584;
    margin: auto;
    padding: 20px 50px;
    transition: rotate .6s;
}

.box-3:hover {
    rotate: 360deg;
}

.box-4 {
    background-color: #282584;
    margin: auto;
    padding: 20px 50px;
    transition: translateX(3000px);
}

img {
    transform: scale(2);
}