body {
    margin: 0;
    font-family: 'SF Pro Display'; src: url('./Fonts/SF-Pro-Display-Regular.woff2') format('woff2');
    background-color: #989797;
}

div {
    box-sizing: border-box;
}

.box {
    margin: 20px;
    background-color: #fff;
    border: 4px solid #dedede;
    padding: 6px;
    border-radius: 39px;
    transition: border 2s;
}

.barra {
    padding: 40px;
    background-color: #dedede;
    border-radius: 30px;
    width: 10%;
    transition: width 2s steps(12), background-color 6s steps(12);
}

.barra:active {
    width: 100%;
    transition-duration: 2s;
    background-color: aqua;
}

.box:has(.barra:active) {
    border: 4px solid aqua;
    transition-duration: 3s;
}

@media (prefers-reduce-motion:motion) {
    .barra, .box {
    transition: width 5s steps(12), background-color 5s steps(12);
}

}