body {
    margin: 0;
    font-family: sans-serif;
    background-color: #aaa;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #000;
    margin: 20px;
    background-color: #fff;
    justify-content: space-evenly;
    height: 300px;
}

/* ALIGN-SELF SIRVE PARA ALINEAR ALGO POR SI SOLO INDIVIDUALEMNTE
*/
.flex-item {
    background-color: #911;
    text-align: center;
    font-size: 30px;
    flex: 1 1 100px

}

.flex-item:nth-child(2n) {
    background-color: rgb(208, 118, 118);
}

.item-5 {
    align-self: flex-end;
}