
/* VARIABLES QUE QUERAMOS QUE SEAN HEREDABLES PARA TODO EL DOCUMENTO SE PONEN EN ROOT NO EN BODY */
:root {
    --color-principal:#f99;
}

body {
    margin: 0;
    font-family: 'SF Pro Display'; src: url('../Fonts/SF-Pro-Display-Regular.woff2');
}

* {
    box-sizing: border-box;
}

/* PARA HACER UNA VARIABLE ES CON -- , ESA VARIABLE SOLO SERIA PARA .BOX Y SUS HIJOS*/
.box-3 {
    --color-principal: #f99;
    background-color: var(--color-principal);
    display: grid;
    place-content: center;
    color: #fff;
    width: 600px;
    margin: 120px auto;
    padding: 0 40px;
    font-size: clamp(2.4rem, 2vw, 4rem);
    width: clamp(800px,100%,1000px);
}

h1 {
    font-size: 2.2em;
    margin-bottom: 0;
}

/* TAMBIEN SE PUEDEN ASIGNAR VARIABLES CON @PROPERTY */

@property --color-principal {
    syntax: "<color>";
    inherits: false;
    initial-value : #f99;
}