body {
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
}

/* PARA LA INTENSIDAD DE ARRANQUE Y LLEGADA DE transition-timing-function PERSONALIZADA SE PUEDE UTILIZAR LA SIGUIENTE HERRAMIENTA: https://cubic-bezier.com/#.17,.67,.83,.67 */

.box {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: auto;
    margin-top: 50px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    transition-property: color, background-color, margin;
    transition-duration: 1s;
    transition-delay: 2s;
    transition-timing-function: ease-in-out;
}

.box:hover {
    background-color: #000;
    color: white;
    margin-top: 80px;
}

body:hover .box--2 {
    background-color: blueviolet;
}