/* LA HERENCIA INDICA QUE TODA LA DESENCENCIA TENDRA LOS ATRIBUTOS IMPUESTOS*/
body {
    color: aqua;
    font-family: sans-serif;
}

/* HASTA QUE SE CAMBIA DIRECTAMENTE */
h1 {
    color: red;
}

/* HAY COSAS QUE NO SE HEREDAN, SI QUIERO QUE SE HEREDE TENGO QUE USAR inherit */


/* LA ESPECIFIDAD INDICA QUE PROPIEDAD TENDRA PRIORIDAD, LA PRIORIDAD ES LA ULTIMA EN PONER O HACERLE CLICK, TIENE MAS PRIORIDAD LA CLASE [TITULO] QUE LA PROPIEDAD [H1], EL MAS ESPECIFICO ES EL ID */

/* LA JERARQUIA GLOBAL ES HASTA ABAJO ESTE CODIGO, DESPUES EL <STYLE> </STYLE> QUE SE COLOCA EN LA HOJA DE INDEX, PERO TODAVIA CON MAS IMPORTANCIA EL STYLE="" QUE SE PONE DIRECTO EN EL ELEMENTO EN INDEX Y LO MAS MAS IMPORTA ES !IMPORTANT */

#titulo {
    color: green;
}

body .titulo {
    color: red;
}

.titulo {
    color: red;
}

h1 {
    color: blue;
}
