td, th {
    border: 1px solid #000;
    text-align: center;
    padding: 6px;
    font-family: sans-serif;
    border: none;
    border-bottom: 1px solid #000;

}

table {
    width: 100%;
    border-spacing: 12px;
    box-shadow: 0 0 15px #0003;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
}

.dato_total, .header_total {
    padding: 12px;
    border: none;
}