body { 
    margin: 0;
    font-family: sans-serif;
    color: white;
}

/* LA ALINEACION ES PARA EL ACOMODO INTERNO EN LA CAJA PRINCIPAL PARA NO QUEDE DESALINEADO */
.flexbox {
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid #000;
    margin: 20px;
    justify-content: space-evenly;
}

.box--2 {
    justify-content: center;
}

/* PARA ALINEAR EN EL EJE Y SE UTILIZA ALIGH-ITEMS */
.box--3 {
    justify-content: space-between;
    height: 300px;
    align-items: center;
}


.flex-item {
    width: 100px;
    height: 40px;
    background-color: #911;
    margin: 10px;
    text-align: center;
    font-size: 30px;
}

.flex-item:first-child {
    background-color: #d56;
}

.flex-item:last-child {
    background-color: rgb(24, 70, 117);
}

