body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}

/* OERFLOW SIRVE PARA EL TEXTO QUE SE DESBORDA DEL ESPACIO ASIGNADO DENTRO DEL MARCO, VISIBLE ES PARA QUE EL DESBORDAMIENDO SE VEA, HIDDEN LO ESCONDE, SCROLL PONE UNA BARRA DE SCROLL Y EL MAS IDEAL ES EL AUTO YA QUE ESTA DISENADO PARA QUE SE ADAPTE EL SCROLL SI SE SOBREPASA EL TEXTO */

.box {
    width: 220px;
    height: 220px;
    background-color: white;
    margin-top: 50px;
    color: black;
    position: relative;
    left: 0;
    border: 2px solid #0009;
    margin: auto;
    margin-top: 50px;
    overflow: scroll;
}