body {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #aaa;
    color: white;
}

div, header, nav, ul, h1, h2, p, img{
    box-sizing: border-box;
}

/* HEADER SECTION */

h1 {
    margin: 0;
    font-size: 3.6em;
    text-wrap: balance;
}

.header {
    height: 100vh;
    box-sizing: border-box;
    background-image: url(fondo.png);
    display: flex;
    background-size: cover;
}

.header__overlay {
    height: 100vh;
    width: 100vw;
    background-color: #0006;
    position: absolute;
    z-index: 1;
}

.header__item-container {
    position: relative;
    z-index: 10;
    margin: auto;
    text-align: center;
    max-width: 80%;
    text-wrap: balance;
}


/* NAVBAR SECTION */

.nav {
    background-color: white;
    margin: 0;
}


